.mobile-menu {
  position: fixed;
  top: 0;
  left: -260px;   
  width: 250px;
  height: 100%;
  background: #fff;
  transition: 0.3s ease;
  box-shadow: 2px 0px 5px rgba(0,0,0,0.3);
  z-index: 9999;
}

.mobile-menu.open {
  left: 0;
}

.close-btn {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}
 

body.menu-open {
  overflow: hidden;
  touch-action: none;
}
 

.mobile-menu.open {
  left: 0;
}

.menu-content .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: blue;
  padding: 1rem;
}

.menu-content .top .left-top{
  color: white;
  font-size: 17px;
  font-weight: 600;
}

.menu-content .top .left-top i{
  margin-right: 1rem;
}

.menu-content .top .right-top .logo{
  width: 20px;
  height: 20px;
}

.menu-content .menu-links{
  margin-top: 1rem;
}

.menu-content .menu-links ul{
  padding: 0;
  margin: 0;
}

.menu-content .menu-links ul li{
  list-style: none;
  padding: 0.5rem 1rem;
  width: 100%;
}

.menu-content .menu-links ul li a{
  text-decoration: none;
  color: rgba(0,0,0,0.8);
  font-size: 15px;
  font-weight: 500;
   display: flex; 
  align-items: center;     
  gap: 10px;               
  cursor: pointer;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
}

.menu-content .menu-links ul li a i{
  min-width: 20px;
  text-align: center;
}

.menu-content .menu-links ul li a span{
  flex: 1;

}

.menu-content .menu-links ul .border-line{
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 1px;
}