.row_product_container {
    background: rgba(0, 0, 0, 0.05);
    width: 100%;
    height: auto;
    max-width: 1500px;
    padding: 10px 10px;
    box-sizing: border-box;
    margin: 10px auto;
}

.row_product_container .row_product_heading {
    font-size: 1.5rem;
    padding: 10px 0;
    font-weight: 600;
}



.row_product_container .row_product_item_container .row_product_item img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.row_product_container .row_product_item_container {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;

}

.row_product_item_container::-webkit-scrollbar {
    height: 0px !important;
    width: 0px !important;
}

.row_product_item_container {
    scrollbar-width: none;
}

.row_product_item_container:hover {
    scrollbar-width: none;
}

.row_product_container .row_product_item_container .row_product_item {
    padding-left: 50px;
}


.row_product_container .row_product_item_container .row_product_item .name_price {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.row_product_container .row_product_item_container .row_product_item .name_price .name {
    color: gray;
    font-weight: 500;
    font-size: 15px;
    margin-top: 10px;
}

.row_product_container .row_product_item_container .row_product_item .name_price .price {
    font-weight: 600;
}

.row_product_container .row_product_item_container .row_product_item .more_click{
    display: none;
}


@media (max-width:768px) {
    
    .row_product_container .row_product_item_container {
        display: block;
    }

    .row_product_container .row_product_item_container .row_product_item {
        display: flex;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        padding-bottom: 10px;
        margin-top: 10px;
        position: relative;
        padding-left: 0px;
    }

    .row_product_container .row_product_item_container .row_product_item img {
        width: 50px;
        height: 50px;
        object-fit: contain;

    }

    .row_product_container .row_product_item_container .row_product_item .name_price {
        margin-top: 0px;
        margin-left: 20px;
        text-align: justify;
    }

    .row_product_container .row_product_item_container .row_product_item .name_price .name{
            font-weight: 600;
            color: black;
    }
    
    .row_product_container .row_product_item_container .row_product_item .name_price .price{
            font-weight: 600;
            color: grey;
    }

    .row_product_container .row_product_item_container .row_product_item .more_click{
        position: absolute;
        right: 10px;
        display: flex;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.4);
    }
}