.navbar {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    width: 100%;
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;   
  z-index: 1000;
}

.navbar .logo_search_account {
    width: auto;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

.navbar .logo_search_account .logo {
    text-align: center;
    margin-left: 90px;
}

.navbar .logo_search_account .logo .bar_icon {
    margin-right: 30px;
    font-size: 20px;
    display: none;
}

.navbar .logo_search_account .logo .logo_name {
    font-size: 27px;
    font-weight: 700;
    font-style: italic;
    color: blue;
}

.navbar .logo_search_account .search {
    width: 100%;
    margin: 0px 20px;
    display: flex;
    position: relative;
}

.navbar .logo_search_account .search input {
    width: 100%;
    padding: 12px 2.4rem;
    background: lightblue;
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1rem;
}

.navbar .logo_search_account .search .search_icon {
    position: absolute;
    left: 10px;
    top: 50%;
    font-size: 20px;
    color: gray;
    transform: translateY(-50%);
}
 

.mobile-search{
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    color: rgba(0,0,0,0.5);
    /* z-index: 111; */
    position: relative;

}

.mobile-search input{
    width: 100%;
    border-radius: 15px;
    padding: 1rem 2.2rem;
    outline: none;
    font-size: 15px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: rgba(0,0,0,0.7);
    margin: 0 1rem;
}

.mobile-search .search_icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2rem;
    font-size: 15px;
    width: 100%;
    color: rgba(0,0,0,0.7);
}

.navbar .logo_search_account .account {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 9px;
    position: relative;
    cursor: pointer;
    margin-right: 40px;
}

.navbar .logo_search_account .account .text {
    font-size: 18px;
    font-weight: 500;
}

.navbar .logo_search_account .account .down_icon {
    font-size: 0.7rem;
    transition: all 0.4s ease;
}

.navbar .logo_search_account .account:hover {
    background-color: lightgray;
    border: 1px solid darkgray;
}

.navbar .logo_search_account .account:hover .down_icon {
    transform: rotate(180deg);
}

.navbar .logo_search_account .account .account_dropdown {
    position: absolute;
    top: 45px;
    right: 0;
    left: 0px;
    width: 180px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    padding: 6px 0;
    display: none;
    z-index: 10;
}

.navbar .logo_search_account .account .account_dropdown ul {
    padding: 0;
    margin: 0;
}

.navbar .logo_search_account .account .account_dropdown ul li {
    list-style-type: none;
    margin-bottom: 20px;
}

.navbar .logo_search_account .account .account_dropdown ul li a {
    text-decoration: none;
    padding: 10px 15px;
    font-weight: 500;
    font-size: 15px;
    color: gray;
    display: flex;
    gap: 12px;
    width: 100%;
}


.navbar .logo_search_account .account .account_dropdown ul li a i {
    width: 20px;
    text-align: center;
}

.navbar .logo_search_account .account .account_dropdown ul li:hover {
    background-color: gainsboro;
}

.account:hover .account_dropdown {
    display: flex !important;
    flex-direction: column;

}

.navbar .cart_seller_dot {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    gap: 42px;
    margin-right: 20px;
}

.navbar .cart_seller_dot i {
    font-size: 20px;
}

.navbar .cart_seller_dot .cart {
    font-size: 18px;
}

.navbar .cart_seller_dot .cart .cart_icon {
    margin-right: 15px;
}

.navbar .cart_seller_dot .seller {
    font-size: 18px;
}

.navbar .cart_seller_dot .dot {
    padding: 10px 20px;
    border-radius: 10px;
}

.navbar .cart_seller_dot .dot:hover {
    border: 1px solid grey;
    background-color: rgba(0, 0, 0, 0.02);
}

.navbar .cart_seller_dot .dot {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 9px;
    position: relative;
    cursor: pointer;
}

.navbar .cart_seller_dot .dot .dot_dropdown {
    position: absolute;
    top: 45px;
    right: 0;
    width: 225px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    padding: 6px 0;
    display: none;
    z-index: 10;
}

.navbar .cart_seller_dot .dot .dot_dropdown ul {
    padding: 0;
    margin: 0;
    ;
}

.navbar .cart_seller_dot .dot .dot_dropdown ul li {
    list-style-type: none;
    margin-bottom: 20px;
}

.navbar .cart_seller_dot .dot .dot_dropdown ul li a {
    text-decoration: none;
    padding: 10px 15px;
    font-weight: 500;
    font-size: 15px;
    color: gray;
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar .cart_seller_dot .dot .dot_dropdown ul li a i {
    width: 20px;
    text-align: center;
    margin-right: 10px;
}

.navbar .cart_seller_dot .dot .dot_dropdown ul li:hover {
    background-color: gainsboro;
}

.dot:hover .dot_dropdown {
    display: flex !important;
    flex-direction: column;

}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 1500;   
}




@media (max-width:1190px) {
    .cart_text {
        display: none;
    }

}




@media (min-width: 768px) and (max-width: 1190px) {

    .navbar .logo_search_account {
        gap: 10px;
    }

    .navbar .cart_seller_dot {
        gap: 12.5px;
    }

    .navbar .logo_search_account .logo {
        margin-left: 50px;
    }

    .navbar .logo_search_account .search {
        margin: 0 5px;
        width: 100%;
    }

    .navbar .logo_search_account .search input {
        width: 100%;
    }

    .navbar .logo_search_account .account {
        margin-right: 20px;
    }
}

@media (max-width:768px) {

    .mobile-search{
        display: flex;
    }

    .navbar .logo_search_account .search {
        display: none;
    }
    .navbar .cart_seller_dot {
        margin-right: 100px;
    }

    .navbar .cart_seller_dot .dot {
        display: none;
    }

    .navbar .cart_seller_dot .seller {
        display: none;
    }


    .down_icon {
        display: none;
    }


    .navbar .logo_search_account .account {
        margin-right: 0;
        padding: 0;
    }

    .navbar .logo_search_account .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .navbar .logo_search_account .logo .bar_icon {
        display: flex;
    }

   
}

@media (max-width:550px) {

    .navbar .cart_seller_dot {
        margin-right: 0px;
    }

    .navbar{
        justify-content: space-between;
         
    }

    .navbar .logo_search_account .logo {
        margin-left: 0px;
    }


    .navbar .logo_search_account .logo .logo_name,
    .navbar .logo_search_account .logo .bar_icon {
        font-size: 20px;
    }

    .navbar .logo_search_account .account .text,
    .navbar .logo_search_account .account .user_icon{
        font-size: 15px;
    }

    .navbar .cart_seller_dot .cart .cart_icon{
        font-size: 15px;
    }

    .navbar .cart_seller_dot .cart{
        margin-right: 2rem;
    }
}