.footer_container{
    margin-top: 1rem;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
}

.footer_container .footer_top{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    width: 100%;
    border-bottom: 1px solid grey;
    padding: 2rem 5rem;
    
}

.footer_container .footer_top .details{
    width: 100%;
}

.footer_container .footer_top .details h6{
    font-size: 0.8rem;
    font-weight: 500;
    color: grey;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.footer_container .footer_top .details .links ul li{
    list-style-type: none;
}


.footer_container .footer_top .details .links ul li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 0.8rem;
}

.footer_container .footer_top .details .links ul li a:hover{
    text-decoration: underline;
}

.footer_container .footer_top .right{
    border-left: 1px solid grey;
    padding-left: 2rem;
}

.footer_container .footer_top .details .address{
    margin-bottom: 1rem;
}

.footer_container .footer_top .details .address p h6{
    text-transform: none;
}

.footer_container .footer_top .details .address p .text{
    color: white;
    font-size: 0.8rem;
}

.footer_container .footer_top .details .social h6{
    text-transform: none;
}

.footer_container .footer_top .details .social .social_links a{
    color: white;
    font-size: 1.2rem;
    padding-right: 1rem;
}

.footer_container .footer_top .details .RO_address h6{
    text-transform: none;
}

.footer_container .footer_top .details .RO_address .text{
    color: white;
    font-size: 0.8rem;
    line-height: 1.1rem;
}

.footer_container .footer_top .details .RO_address .text a{
    text-decoration: none;
    color: blue;
    margin-left: 10px;
}

.footer_container .footer_top .details .RO_address .text a span{
    color: white;
}

.footer_container .footer_bottom{
    padding: 1.5rem;
}

.footer_container .footer_bottom ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;  
}

.footer_container .footer_bottom ul li{
    list-style: none;
 
     
}

.footer_container .footer_bottom ul li a{
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
}
 
.footer_container .footer_bottom ul li a i{
    margin-right: 1rem;
    color: orange;
}

.footer_container .footer_bottom ul:last-child{
    color: white;
    font-size: 0.8rem;
}

.footer_container .footer_bottom ul:last-child i{
    margin-right: 0.8rem;
}

@media (max-width: 1200px) {
    .footer_container .footer_top{
        grid-template-columns: repeat(3,1fr);
        gap: 1rem 0;
    }

    .footer_container .footer_top .right{
    border-left: none;
    padding-left: 0rem;
}
}

@media (max-width:1000px) {
     .footer_container .footer_top{
        grid-template-columns: repeat(2,1fr);
        gap: 1rem 0;
    }
}

@media (max-width:720px) {
     .footer_container .footer_top{
        grid-template-columns: repeat(1,1fr);
        gap: 1rem 0;
    }
}

@media (max-width:760px) {
    .footer_container .footer_bottom ul{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }
}