.simple_slider {
  width: 100%;
  height: 300px;
  /* max-width: 1200px; */
  margin: 20px 0;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
}

.slider_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.4);
  color: white;
  border: none;
  font-size: 25px;
  padding: 5px 12px;
  border-radius: 50%;
  cursor: pointer;
}

.left_btn {
  left: 15px;
}

.right_btn {
  right: 15px;
}
 
@media (max-width: 600px) {
  .simple_slider {
    height: 180px;
  }
}
